<a href="https://colab.research.google.com/github/Gus-1003/Meteorologia_Estudos_Dados/blob/main/Balan%C3%A7o_H%C3%ADdrico/RepresentantesRegi%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Contexto:**

## Fonte Teorica:

*   Simplificando o Balanceamento Hidrico - Scielo: https://www.scielo.br/j/brag/a/x8tcTGb4PdPsghWjBNkw6rs/?lang=pt
*   List item

## Definições Base:

# **Bibliotecas Básicas**

In [1]:
print("Importando e Instalando Bibliotecas básicas...")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sb

Importando e Instalando Bibliotecas básicas...

# **Pré - Processamento**

## Leitura dos dados da produção do RN

In [2]:
# BARRETOS
pd_1 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/GeoProcessamento_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_A748_D_2021-01-01_2021-12-31.csv',low_memory=False, encoding='utf-8', delimiter=';', skiprows=10)
# GOIANESIA
pd_2 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/GeoProcessamento_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_A022_D_2021-01-01_2021-12-31.csv',low_memory=False, encoding='utf-8', delimiter=';', skiprows=10)
# MANAUS
pd_3 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/GeoProcessamento_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_A101_D_2021-01-01_2021-12-31.csv',low_memory=False, encoding='utf-8', delimiter=';', skiprows=10)
# MOSSORO
pd_4 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/GeoProcessamento_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_A318_D_2021-01-01_2021-12-31.csv',low_memory=False, encoding='utf-8', delimiter=';', skiprows=10)
# CHAPECO
pd_5 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/GeoProcessamento_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_A895_D_2021-01-01_2021-12-31.csv',low_memory=False, encoding='utf-8', delimiter=';', skiprows=10)

## Plot Dataframes:

In [3]:
pd_1
# pd_2
# pd_3
# pd_4
# pd_5

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)","TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)",Unnamed: 4
0,2021-01-01,3,"30,4","19,3",NaN
1,2021-01-02,"13,4","30,5","18,6",NaN
2,2021-01-03,0,"32,5","18,2",NaN
3,2021-01-04,",2",32,"17,1",NaN
4,2021-01-05,0,32,"19,8",NaN
...,...,...,...,...,...
360,2021-12-27,0,"34,5","17,8",NaN
361,2021-12-28,0,"34,2","18,6",NaN
362,2021-12-29,0,"31,4","19,1",NaN
363,2021-12-30,"18,8","27,7","19,7",NaN
364,2021-12-31,"1,4","28,6","18,4",NaN

In [4]:
pd_1.info

<bound method DataFrame.info of     Data Medicao PRECIPITACAO TOTAL, DIARIO (AUT)(mm)  \
0     2021-01-01                                    3
1     2021-01-02                                 13,4
2     2021-01-03                                    0
3     2021-01-04                                   ,2
4     2021-01-05                                    0
..           ...                                  ...
360   2021-12-27                                    0
361   2021-12-28                                    0
362   2021-12-29                                    0
363   2021-12-30                                 18,8
364   2021-12-31                                  1,4

    TEMPERATURA MAXIMA, DIARIA (AUT)(°C) TEMPERATURA MINIMA, DIARIA (AUT)(°C)  \
0                                   30,4                                 19,3
1                                   30,5                                 18,6
2                                   32,5                                 18,2
3                                     32                                 17,1
4                                     32                                 19,8
..                                   ...                                  ...
360                                 34,5                                 17,8
361                                 34,2                                 18,6
362                                 31,4                                 19,1
363                                 27,7                                 19,7
364                                 28,6                                 18,4

     Unnamed: 4
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
..          ...
360         NaN
361         NaN
362         NaN
363         NaN
364         NaN

[365 rows x 5 columns]>

In [5]:
type(pd_1)

pandas.core.frame.DataFrame

## Limpeza:

In [6]:
pd_1.pop('Unnamed: 4')
pd_2.pop('Unnamed: 4')
pd_3.pop('Unnamed: 4')
pd_4.pop('Unnamed: 4')
pd_5.pop('Unnamed: 4')

pd_1

,Data Medicao,"PRECIPITACAO TOTAL, DIARIO (AUT)(mm)","TEMPERATURA MAXIMA, DIARIA (AUT)(°C)","TEMPERATURA MINIMA, DIARIA (AUT)(°C)"
0,2021-01-01,3,"30,4","19,3"
1,2021-01-02,"13,4","30,5","18,6"
2,2021-01-03,0,"32,5","18,2"
3,2021-01-04,",2",32,"17,1"
4,2021-01-05,0,32,"19,8"
...,...,...,...,...
360,2021-12-27,0,"34,5","17,8"
361,2021-12-28,0,"34,2","18,6"
362,2021-12-29,0,"31,4","19,1"
363,2021-12-30,"18,8","27,7","19,7"
364,2021-12-31,"1,4","28,6","18,4"

In [7]:
# Verifica se tem NaN na database_inmet
hasNan = pd_1.isnull().values.any() 
print(hasNan)

True

### NAN -> Zero

In [8]:
# Substituir NaN por ZEROS
pd_1 = pd_1.fillna(0)

In [9]:
# Verifica se tem NaN na database_inmet
hasNan = pd_1.isnull().values.any() 
print(hasNan)

False

## Coneverter String -> Float

In [10]:
pd_1.replace(',', '.', regex=True, inplace=True)
pd_2.replace(',', '.', regex=True, inplace=True)
pd_3.replace(',', '.', regex=True, inplace=True)
pd_4.replace(',', '.', regex=True, inplace=True)
pd_5.replace(',', '.', regex=True, inplace=True)

In [11]:
pd_1 = pd_1.iloc[:,2:].astype(float)
pd_2 = pd_2.iloc[:,2:].astype(float)
pd_3 = pd_3.iloc[:,2:].astype(float)
pd_4 = pd_4.iloc[:,2:].astype(float)
pd_5 = pd_5.iloc[:,2:].astype(float)

In [12]:
pd_1.DIARIO (AUT)(mm)

AttributeError: ignored

# Processamento - Calculo: