<a href="https://colab.research.google.com/github/Gus-1003/Meteorologia_Estudos_Dados/blob/main/Balan%C3%A7o_H%C3%ADdrico/Teste1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Contexto do Projeto:**

# **Bibliotecas Básicas**

In [1]:
print("Importando e Instalando Bibliotecas básicas...")
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import seaborn as sb

Importando e Instalando Bibliotecas básicas...

# **Pré - Processamento**

## Leitura dos dados da produção do RN

In [2]:
# Nordeste - Paraiba - Campina Grande
pd_1 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/Meteorologia_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_teste1/CAMPINA%20GRANDE%20(A313)_2021-01-01_2021-12-31.csv',encoding='utf-8', delimiter=';')
# Centro_Oeste - Mato Grosso do Sul - Campo Grande
pd_2 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/Meteorologia_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_teste1/CAMPO%20GRANDE%20(A702)_2021-01-01_2021-12-31.csv',encoding='utf-8', delimiter=';')
# Norte - Acre - Feijo 
pd_3 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/Meteorologia_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_teste1/FEIJO%20(A138)_2021-01-01_2021-12-31.csv',encoding='utf-8', delimiter=';')
# Sul - Paraná - Curitiba
pd_4 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/Meteorologia_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_teste1/CURITIBA%20(A807)_2021-01-01_2021-12-31.csv',encoding='utf-8', delimiter=';')
# Sudeste - Rio de Janeiro - Duque de Caxias / Xerem
pd_5 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/Meteorologia_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_teste1/DUQUE%20DE%20CAXIAS%20-%20XEREM%20(A603)_2021-01-01_2021-12-31.csv',encoding='utf-8', delimiter=';')

## Plot Dataframes:

In [3]:
pd_1
# pd_2
# pd_3
# pd_4
# pd_5

,Data,Hora (UTC),Temp. Ins. (C),Temp. Max. (C),Temp. Min. (C),Umi. Ins. (%),Umi. Max. (%),Umi. Min. (%),Pto Orvalho Ins. (C),Pto Orvalho Max. (C),Pto Orvalho Min. (C),Pressao Ins. (hPa),Pressao Max. (hPa),Pressao Min. (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Raj. Vento (m/s),Radiacao (KJ/m²),Chuva (mm)
0,01/01/2021,0,"22,1","23,4","22,1","93,0","94,0","86,0","21,0","21,3","20,8","953,1","953,1","952,5","3,9","173,0","9,0",NaN,"0,4"
1,01/01/2021,100,"21,7","22,2","21,6","96,0","96,0","93,0","21,0","21,2","20,9","952,9","953,1","952,9","3,7","179,0","9,0",NaN,"0,2"
2,01/01/2021,200,"21,9","22,0","21,7","95,0","96,0","95,0","21,1","21,2","21,0","952,6","952,9","952,6","4,2","197,0","6,8",NaN,"0,0"
3,01/01/2021,300,"21,9","22,0","21,8","95,0","95,0","94,0","21,0","21,1","20,9","952,2","952,7","952,1","4,8","194,0","8,3",NaN,"0,0"
4,01/01/2021,400,"21,3","21,9","21,3","97,0","97,0","95,0","20,8","21,0","20,7","952,0","952,2","951,9","2,2","183,0","8,5",NaN,"0,2"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,31/12/2021,1900,"28,6","30,4","28,5","58,0","58,0","51,0","19,5","20,0","19,2","947,7","947,7","947,3","5,6","162,0","10,8","1290,70","0,0"
8756,31/12/2021,2000,"27,1","28,9","27,1","65,0","65,0","57,0","19,8","20,0","19,2","948,2","948,3","947,7","5,4","177,0","10,0","415,10","0,0"
8757,31/12/2021,2100,"25,9","27,1","25,9","70,0","70,0","65,0","19,9","20,2","19,8","949,1","949,1","948,2","5,7","176,0","10,5","5,80","0,0"
8758,31/12/2021,2200,"24,7","25,9","24,7","79,0","79,0","70,0","20,7","20,8","19,9","950,1","950,1","949,1","5,5","160,0","11,4",NaN,"0,0"
8759,31/12/2021,2300,"24,1","24,7","24,0","82,0","82,0","79,0","20,8","21,0","20,7","951,3","951,3","950,1","4,4","190,0","11,0",NaN,"0,0"

In [4]:
pd_1.info

<bound method DataFrame.info of             Data  Hora (UTC) Temp. Ins. (C) Temp. Max. (C) Temp. Min. (C)  \
0     01/01/2021           0           22,1           23,4           22,1
1     01/01/2021         100           21,7           22,2           21,6
2     01/01/2021         200           21,9           22,0           21,7
3     01/01/2021         300           21,9           22,0           21,8
4     01/01/2021         400           21,3           21,9           21,3
...          ...         ...            ...            ...            ...
8755  31/12/2021        1900           28,6           30,4           28,5
8756  31/12/2021        2000           27,1           28,9           27,1
8757  31/12/2021        2100           25,9           27,1           25,9
8758  31/12/2021        2200           24,7           25,9           24,7
8759  31/12/2021        2300           24,1           24,7           24,0

     Umi. Ins. (%) Umi. Max. (%) Umi. Min. (%) Pto Orvalho Ins. (C)  \
0             93,0          94,0          86,0                 21,0
1             96,0          96,0          93,0                 21,0
2             95,0          96,0          95,0                 21,1
3             95,0          95,0          94,0                 21,0
4             97,0          97,0          95,0                 20,8
...            ...           ...           ...                  ...
8755          58,0          58,0          51,0                 19,5
8756          65,0          65,0          57,0                 19,8
8757          70,0          70,0          65,0                 19,9
8758          79,0          79,0          70,0                 20,7
8759          82,0          82,0          79,0                 20,8

     Pto Orvalho Max. (C) Pto Orvalho Min. (C) Pressao Ins. (hPa)  \
0                    21,3                 20,8              953,1
1                    21,2                 20,9              952,9
2                    21,2                 21,0              952,6
3                    21,1                 20,9              952,2
4                    21,0                 20,7              952,0
...                   ...                  ...                ...
8755                 20,0                 19,2              947,7
8756                 20,0                 19,2              948,2
8757                 20,2                 19,8              949,1
8758                 20,8                 19,9              950,1
8759                 21,0                 20,7              951,3

     Pressao Max. (hPa) Pressao Min. (hPa) Vel. Vento (m/s) Dir. Vento (m/s)  \
0                 953,1              952,5              3,9            173,0
1                 953,1              952,9              3,7            179,0
2                 952,9              952,6              4,2            197,0
3                 952,7              952,1              4,8            194,0
4                 952,2              951,9              2,2            183,0
...                 ...                ...              ...              ...
8755              947,7              947,3              5,6            162,0
8756              948,3              947,7              5,4            177,0
8757              949,1              948,2              5,7            176,0
8758              950,1              949,1              5,5            160,0
8759              951,3              950,1              4,4            190,0

     Raj. Vento (m/s) Radiacao (KJ/m²) Chuva (mm)
0                 9,0              NaN        0,4
1                 9,0              NaN        0,2
2                 6,8              NaN        0,0
3                 8,3              NaN        0,0
4                 8,5              NaN        0,2
...               ...              ...        ...
8755             10,8          1290,70        0,0
8756             10,0           415,10        0,0
8757             10,5             5,80        0,0
8758             11,4              NaN        0,0
8759             11,0              NaN        0,0

[8760 rows x 19 columns]>

In [5]:
type(pd_1)

pandas.core.frame.DataFrame

## Limpeza:

In [7]:
# Verifica se tem NaN na database_inmet
hasNan = pd_1.isnull().values.any() 
print(hasNan)

True

### NAN -> Zero

In [8]:
# Substituir NaN por ZEROS
pd_1 = pd_1.fillna(0)

In [9]:
# Verifica se tem NaN na database_inmet
hasNan = pd_1.isnull().values.any() 
print(hasNan)

False

## Coneverter String -> Float

In [10]:
pd_1.replace(',', '.', regex=True, inplace=True)
pd_2.replace(',', '.', regex=True, inplace=True)
pd_3.replace(',', '.', regex=True, inplace=True)
pd_4.replace(',', '.', regex=True, inplace=True)
pd_5.replace(',', '.', regex=True, inplace=True)

In [11]:
pd_1 = pd_1.iloc[:,2:].astype(float)
pd_2 = pd_2.iloc[:,2:].astype(float)
pd_3 = pd_3.iloc[:,2:].astype(float)
pd_4 = pd_4.iloc[:,2:].astype(float)
pd_5 = pd_5.iloc[:,2:].astype(float)

# Processamento - Calculo: