<a href="https://colab.research.google.com/github/Gus-1003/Meteorologia_Estudos_Dados/blob/main/Balan%C3%A7o_H%C3%ADdrico/Teste1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Contexto do Projeto:**

UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE - UFRN

ESCOLA AGRÍCOLA DE JUNDIAÍ - EAJ

ANALÍSE E DESENVOLVIMENTO DE SISTEMAS - TADS 

---

***Nome da Tarefa:*** 
* Avaliação da III Unidade - METEOROLOGIA APLICADA - T01 (2022.1)

***Descrição:***
* Na linguagem Python, crie um algoritmo para rodar o Balanço hídrico segundo Thornthwaite & Mather (1955).

***Metodologia:***
* Escolha  um município de cada região brasileira;
* Verifique as variáveis diárias de precipitação, temperatura máxima e temperatura mínima (https://bdmep.inmet.gov.br/). 
* Organize o banco de dados dessas variáveis para os 5 municípios escolhidos e salve no formato csv's os dados diarios.

***Obs:*** 
* Nao esqueça de anotar a latitude e longitude de cada um desses municípios. 

***Questionamento:*** 
* Segundo o Balanço Hídrico, qual o melhor período para o plantio das culturas?

***Componentes da Pesquisa:***
* **Docente:** 
    * Tásia do Vale;
* **Alunos:**
    * Francisco Neto;
    * Gustavo Maciel;

***Baseado em:***
* Balanço_hidrico.ipynb - de: George Mendonça
    * Link: https://github.com/GeorgeOgeorge/balanceamento-hidrico/blob/main/Balan%C3%A7o_hidrico.ipynb

# **Bibliotecas Básicas**

In [1]:
print("Importando e Instalando Bibliotecas básicas...")
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

from sklearn.preprocessing import LabelEncoder

Importando e Instalando Bibliotecas básicas...

# **Pré - Processamento**

## Leitura dos dados da produção do RN

In [2]:
# Nordeste - Paraiba - Campina Grande
pd_1 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/Meteorologia_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_teste1/CAMPINA%20GRANDE%20(A313)_2021-01-01_2021-12-31.csv', delimiter=";", quotechar='"')

# Centro_Oeste - Mato Grosso do Sul - Campo Grande
#pd_1 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/Meteorologia_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_teste1/CAMPO%20GRANDE%20(A702)_2021-01-01_2021-12-31.csv', delimiter=";", quotechar='"')

# Norte - Acre - Feijo 
#pd_1 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/Meteorologia_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_teste1/FEIJO%20(A138)_2021-01-01_2021-12-31.csv', delimiter=";", quotechar='"')

# Sul - Paraná - Curitiba
#pd_1 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/Meteorologia_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_teste1/CURITIBA%20(A807)_2021-01-01_2021-12-31.csv', delimiter=";", quotechar='"')

# Sudeste - Rio de Janeiro - Duque de Caxias / Xerem
#pd_1 = pd.read_csv('https://raw.githubusercontent.com/Gus-1003/Meteorologia_Estudos_Dados/main/Balan%C3%A7o_H%C3%ADdrico/dados_teste1/DUQUE%20DE%20CAXIAS%20-%20XEREM%20(A603)_2021-01-01_2021-12-31.csv', delimiter=";", quotechar='"')

## Visualização dos dados:

In [3]:
# Esta função retorna as primeiras n linhas do objeto com base na posição. É útil para testar rapidamente se o seu objeto contém o tipo certo de dados.
pd_1.head(25)

,Data,Hora (UTC),Temp. Ins. (C),Temp. Max. (C),Temp. Min. (C),Umi. Ins. (%),Umi. Max. (%),Umi. Min. (%),Pto Orvalho Ins. (C),Pto Orvalho Max. (C),Pto Orvalho Min. (C),Pressao Ins. (hPa),Pressao Max. (hPa),Pressao Min. (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Raj. Vento (m/s),Radiacao (KJ/m²),Chuva (mm)
0,01/01/2021,0,"22,1","23,4","22,1","93,0","94,0","86,0","21,0","21,3","20,8","953,1","953,1","952,5","3,9","173,0","9,0",NaN,"0,4"
1,01/01/2021,100,"21,7","22,2","21,6","96,0","96,0","93,0","21,0","21,2","20,9","952,9","953,1","952,9","3,7","179,0","9,0",NaN,"0,2"
2,01/01/2021,200,"21,9","22,0","21,7","95,0","96,0","95,0","21,1","21,2","21,0","952,6","952,9","952,6","4,2","197,0","6,8",NaN,"0,0"
3,01/01/2021,300,"21,9","22,0","21,8","95,0","95,0","94,0","21,0","21,1","20,9","952,2","952,7","952,1","4,8","194,0","8,3",NaN,"0,0"
4,01/01/2021,400,"21,3","21,9","21,3","97,0","97,0","95,0","20,8","21,0","20,7","952,0","952,2","951,9","2,2","183,0","8,5",NaN,"0,2"
5,01/01/2021,500,"21,3","21,5","21,2","97,0","97,0","97,0","20,9","21,0","20,8","951,6","952,0","951,6","2,7","179,0","6,1",NaN,"0,0"
6,01/01/2021,600,"21,5","21,5","21,2","98,0","98,0","97,0","21,1","21,1","20,8","951,7","951,7","951,5","2,2","175,0","5,8",NaN,"0,2"
7,01/01/2021,700,"21,4","21,5","21,3","98,0","98,0","98,0","21,0","21,1","20,9","951,8","951,9","951,7","3,6","185,0","6,3",NaN,"0,2"
8,01/01/2021,800,"21,5","21,6","21,4","98,0","98,0","97,0","21,1","21,2","21,0","952,4","952,4","951,8","3,7","187,0","7,2",NaN,"0,0"
9,01/01/2021,900,"21,6","21,6","21,4","98,0","98,0","97,0","21,2","21,2","21,0","952,9","952,9","952,4","3,7","196,0","7,6","75,50","0,0"
10,01/01/2021,1000,"22,7","22,9","21,5","94,0","98,0","94,0","21,7","22,0","21,1","953,2","953,3","952,9","3,8","190,0","8,4","697,70","0,0"
11,01/01/2021,1100,"23,9","24,2","22,5","84,0","94,0","84,0","21,1","22,2","20,9","953,6","953,6","953,2","3,6","184,0","7,9","1314,10","0,0"
12,01/01/2021,1200,"25,8","26,0","23,8","71,0","85,0","69,0","20,1","21,4","19,5","953,4","953,6","953,4","3,4","182,0","7,9","2143,90","0,0"
13,01/01/2021,1300,"28,4","28,4","25,8","58,0","71,0","58,0","19,4","20,4","18,7","953,0","953,5","953,0","3,8","173,0","8,5","3136,40","0,0"
14,01/01/2021,1400,"29,3","29,7","27,6","52,0","59,0","52,0","18,5","19,5","18,3","952,5","953,1","952,4","3,4","173,0","9,2","3670,30","0,0"
15,01/01/2021,1500,"30,0","31,1","29,0","48,0","53,0","46,0","17,7","19,0","17,5","951,7","952,5","951,7","4,7","185,0","9,0","3548,60","0,0"
16,01/01/2021,1600,"31,3","31,7","29,9","43,0","49,0","42,0","17,3","18,7","16,8","950,8","951,7","950,8","3,9","174,0","9,0","3521,10","0,0"
17,01/01/2021,1700,"32,0","32,4","30,8","42,0","45,0","41,0","17,5","18,2","16,8","950,3","950,8","950,2","4,3","180,0","8,1","3160,10","0,0"
18,01/01/2021,1800,"30,5","32,2","30,5","46,0","46,0","41,0","17,6","18,0","16,8","950,2","950,3","950,1","4,7","173,0","10,0","2353,30","0,0"
19,01/01/2021,1900,"29,3","31,0","29,3","52,0","52,0","46,0","18,4","18,6","17,6","950,3","950,3","950,1","5,6","199,0","9,3","1441,30","0,0"
20,01/01/2021,2000,"28,2","29,8","28,2","57,0","57,0","52,0","18,9","19,0","18,3","950,6","950,7","950,3","4,9","189,0","10,5","597,80","0,0"
21,01/01/2021,2100,"26,0","28,1","26,0","68,0","68,0","57,0","19,7","19,7","18,9","951,1","951,1","950,6","6,3","188,0","10,8","14,60","0,0"
22,01/01/2021,2200,"24,3","26,0","24,3","77,0","77,0","68,0","20,0","20,1","19,7","951,9","951,9","951,1","5,3","180,0","10,8",NaN,"0,0"
23,01/01/2021,2300,"23,3","24,3","23,3","81,0","81,0","77,0","19,8","20,0","19,8","952,5","952,5","951,9","6,5","196,0","10,1",NaN,"0,0"
24,02/01/2021,0,"22,4","23,3","22,4","86,0","86,0","81,0","19,9","20,0","19,6","952,9","952,9","952,5","6,6","195,0","11,1",NaN,"0,0"

## Métricas:

In [4]:
pd_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Data                  8760 non-null   object
 1   Hora (UTC)            8760 non-null   int64
 2   Temp. Ins. (C)        8760 non-null   object
 3   Temp. Max. (C)        8760 non-null   object
 4   Temp. Min. (C)        8760 non-null   object
 5   Umi. Ins. (%)         8753 non-null   object
 6   Umi. Max. (%)         8753 non-null   object
 7   Umi. Min. (%)         8753 non-null   object
 8   Pto Orvalho Ins. (C)  8753 non-null   object
 9   Pto Orvalho Max. (C)  8753 non-null   object
 10  Pto Orvalho Min. (C)  8753 non-null   object
 11  Pressao Ins. (hPa)    8760 non-null   object
 12  Pressao Max. (hPa)    8760 non-null   object
 13  Pressao Min. (hPa)    8760 non-null   object
 14  Vel. Vento (m/s)      8760 non-null   object
 15  Dir. Vento (m/s)      8760 non-null   object
 16  Raj. Vento (m/s)      8760 non-null   object
 17  Radiacao (KJ/m²)      4595 non-null   object
 18  Chuva (mm)            8760 non-null   object
dtypes: int64(1), object(18)
memory usage: 1.3+ MB

In [5]:
# Para dados de objetos (por exemplo, strings ou timestamps), o índice do resultado incluirá count, unique, top e freq.

# count =  Quantos indices naquela coluna.
# unique =  Quantos valores diferentes aquela coluna possui.
# top =  o valor que mais si repete. 
# freq = a frequência que esse valor si repetiu

pd_1.describe(include='object')

,Data,Temp. Ins. (C),Temp. Max. (C),Temp. Min. (C),Umi. Ins. (%),Umi. Max. (%),Umi. Min. (%),Pto Orvalho Ins. (C),Pto Orvalho Max. (C),Pto Orvalho Min. (C),Pressao Ins. (hPa),Pressao Max. (hPa),Pressao Min. (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Raj. Vento (m/s),Radiacao (KJ/m²),Chuva (mm)
count,8760,8760,8760,8760,8753,8753,8753,8753,8753,8753,8760,8760,8760,8760,8760,8760,4595,8760
unique,365,164,167,152,68,64,69,95,95,95,133,133,132,76,283,135,4257,33
top,01/01/2021,"22,2","22,2","21,7","95,0","95,0","94,0","20,5","20,6","20,6","951,9","951,9","951,2","3,4","178,0","7,9","0,10","0,0"
freq,24,194,185,210,417,462,358,268,293,255,179,191,180,283,588,163,4,8161

## Limpeza:

In [6]:
# Verifica se tem NaN na database_inmet
hasNan = pd_1.isnull().values.any() 
print(hasNan)

True

### NAN -> Zero

In [7]:
# Substituir NaN por ZEROS
pd_1 = pd_1.fillna(0)

In [8]:
# Verifica se tem NaN na database_inmet
hasNan = pd_1.isnull().values.any() 
print(hasNan)

False

## Coneverter String -> Float

In [9]:
pd_1.replace(',', '.', regex=True, inplace=True)

In [10]:
dados_1 = pd_1.iloc[:,1:].astype(float)
dados_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Hora (UTC)            8760 non-null   float64
 1   Temp. Ins. (C)        8760 non-null   float64
 2   Temp. Max. (C)        8760 non-null   float64
 3   Temp. Min. (C)        8760 non-null   float64
 4   Umi. Ins. (%)         8760 non-null   float64
 5   Umi. Max. (%)         8760 non-null   float64
 6   Umi. Min. (%)         8760 non-null   float64
 7   Pto Orvalho Ins. (C)  8760 non-null   float64
 8   Pto Orvalho Max. (C)  8760 non-null   float64
 9   Pto Orvalho Min. (C)  8760 non-null   float64
 10  Pressao Ins. (hPa)    8760 non-null   float64
 11  Pressao Max. (hPa)    8760 non-null   float64
 12  Pressao Min. (hPa)    8760 non-null   float64
 13  Vel. Vento (m/s)      8760 non-null   float64
 14  Dir. Vento (m/s)      8760 non-null   float64
 15  Raj. Vento (m/s)      8760 non-null   float64
 16  Radiacao (KJ/m²)      8760 non-null   float64
 17  Chuva (mm)            8760 non-null   float64
dtypes: float64(18)
memory usage: 1.2 MB

In [11]:
dados_1.describe()

,Hora (UTC),Temp. Ins. (C),Temp. Max. (C),Temp. Min. (C),Umi. Ins. (%),Umi. Max. (%),Umi. Min. (%),Pto Orvalho Ins. (C),Pto Orvalho Max. (C),Pto Orvalho Min. (C),Pressao Ins. (hPa),Pressao Max. (hPa),Pressao Min. (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Raj. Vento (m/s),Radiacao (KJ/m²),Chuva (mm)
count,8760.000000,8760.00000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,1150.000000,24.05137,24.619189,23.535845,79.056050,81.368151,76.620434,19.731941,20.131655,19.350457,952.145571,952.395068,951.894167,3.411644,178.455708,7.449749,804.900183,0.055205
std,692.258169,3.24875,3.533567,2.977569,17.008676,15.947760,17.942949,1.579417,1.511303,1.676103,2.155396,2.133613,2.161464,1.339968,42.376413,2.371454,1090.687811,0.468028
min,0.000000,17.00000,17.400000,16.900000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,946.300000,946.300000,946.100000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,575.000000,21.70000,21.900000,21.500000,66.000000,70.000000,62.000000,18.900000,19.300000,18.500000,950.600000,950.900000,950.400000,2.500000,174.000000,5.800000,0.000000,0.000000
50%,1150.000000,23.00000,23.500000,22.700000,85.000000,88.000000,82.000000,19.900000,20.300000,19.600000,952.000000,952.200000,951.700000,3.400000,179.000000,7.600000,39.700000,0.000000
75%,1725.000000,26.30000,27.300000,25.500000,93.000000,94.000000,92.000000,20.800000,21.100000,20.600000,953.500000,953.800000,953.300000,4.300000,187.000000,9.200000,1575.700000,0.000000
max,2300.000000,34.20000,34.300000,32.100000,100.000000,100.000000,100.000000,23.700000,24.800000,23.300000,959.900000,959.900000,959.700000,7.600000,360.000000,14.600000,4111.000000,21.600000

## Converter coluna "DATA" -> Indice

In [12]:
# copiando o dataframe
auxiliar = pd_1[['Data', 'Hora (UTC)']]
auxiliar

            Data  Hora (UTC)
0     01/01/2021           0
1     01/01/2021         100
2     01/01/2021         200
3     01/01/2021         300
4     01/01/2021         400
...          ...         ...
8755  31/12/2021        1900
8756  31/12/2021        2000
8757  31/12/2021        2100
8758  31/12/2021        2200
8759  31/12/2021        2300

[8760 rows x 2 columns]

In [13]:
# Convertendo o valor da data para o tipo DateTime
data = pd.to_datetime(auxiliar['Data'])

# Concatenando DataFrames
result = pd.concat([data, dados_1], axis=1)
# Definindo coluna Data como indice para linhas
result = result.set_index(['Data'])
result

,Hora (UTC),Temp. Ins. (C),Temp. Max. (C),Temp. Min. (C),Umi. Ins. (%),Umi. Max. (%),Umi. Min. (%),Pto Orvalho Ins. (C),Pto Orvalho Max. (C),Pto Orvalho Min. (C),Pressao Ins. (hPa),Pressao Max. (hPa),Pressao Min. (hPa),Vel. Vento (m/s),Dir. Vento (m/s),Raj. Vento (m/s),Radiacao (KJ/m²),Chuva (mm)
Data,,,,,,,,,,,,,,,,,,
2021-01-01,0.0,22.1,23.4,22.1,93.0,94.0,86.0,21.0,21.3,20.8,953.1,953.1,952.5,3.9,173.0,9.0,0.0,0.4
2021-01-01,100.0,21.7,22.2,21.6,96.0,96.0,93.0,21.0,21.2,20.9,952.9,953.1,952.9,3.7,179.0,9.0,0.0,0.2
2021-01-01,200.0,21.9,22.0,21.7,95.0,96.0,95.0,21.1,21.2,21.0,952.6,952.9,952.6,4.2,197.0,6.8,0.0,0.0
2021-01-01,300.0,21.9,22.0,21.8,95.0,95.0,94.0,21.0,21.1,20.9,952.2,952.7,952.1,4.8,194.0,8.3,0.0,0.0
2021-01-01,400.0,21.3,21.9,21.3,97.0,97.0,95.0,20.8,21.0,20.7,952.0,952.2,951.9,2.2,183.0,8.5,0.0,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-31,1900.0,28.6,30.4,28.5,58.0,58.0,51.0,19.5,20.0,19.2,947.7,947.7,947.3,5.6,162.0,10.8,1290.7,0.0
2021-12-31,2000.0,27.1,28.9,27.1,65.0,65.0,57.0,19.8,20.0,19.2,948.2,948.3,947.7,5.4,177.0,10.0,415.1,0.0
2021-12-31,2100.0,25.9,27.1,25.9,70.0,70.0,65.0,19.9,20.2,19.8,949.1,949.1,948.2,5.7,176.0,10.5,5.8,0.0
2021-12-31,2200.0,24.7,25.9,24.7,79.0,79.0,70.0,20.7,20.8,19.9,950.1,950.1,949.1,5.5,160.0,11.4,0.0,0.0
2021-12-31,2300.0,24.1,24.7,24.0,82.0,82.0,79.0,20.8,21.0,20.7,951.3,951.3,950.1,4.4,190.0,11.0,0.0,0.0

## Função (meses):

In [24]:
def meses_df(df):
  df_final = []

  df_meses = [df.loc[f"2021-{i}-01":f"2021-{i+1}-01"] for i in range(1,11)]

  for mes in df_meses:
    mes['Radiacao (KJ/m²)'] = mes['Radiacao (KJ/m²)']/1000
    df_final.append(mes)
    
  df_final = meses_calc(df_final)

  return df_final

## Função (Calculo de Meses):

In [25]:
def meses_calc(dfs):
  dfs_final = []

  for mes in dfs:
    # Medias dos atributos:
    radiacao = mes['Radiacao (KJ/m²)'].mean()
    temp_max = mes['Temp. Max. (C)'].mean()
    temp_min = mes['Temp. Min. (C)'].mean()
    temp_med = mes['Temp. Ins. (C)'].mean()
    
    Et = 0.000939 * radiacao * np.square(temp_max - temp_min) * (temp_med + 17.8) # Evapotranspiração

    precip_media = mes['Chuva (mm)'].sum() # Precipitação Mensal

    p_et = precip_media - Et
    #nac = nivelAcumlado(p, p_et)
    #arm = armazenamento()
    

    dfs_final.append({
        "dados": mes, 
        "precipitacao": precip_media, 
        "evapotranspiracao": Et, 
        "p-et": p_et})
  
  return dfs_final

# Resultado Preliminar:

In [30]:
result_finally = meses_df(result)
result_finally[4]['evapotranspiracao']

0.025899694956880968